@import '../../colors.scss';
 
.card {
    &.selected {
        .card__content:before{
            border-color: $selectedColor;
        }
        .card__content{
            border-color: $selectedColor;
        }
        .card__content__weight {
            background-color: $selectedColor;
        }
        &:hover{
            .card__content:before{
                border-color: $selectedColorHover;
            }
            .card__content{
                border-color: $selectedColorHover;
            }
            .card__content__weight {
                background-color: $selectedColorHover;
            }
        }
    }
    &.disabled {
        .card__content:before{
            border-color: $disabledBorder;
        }
        .card__content{
            border-color: $disabledBorder;
        }
        .card__content__weight {
            background-color: $disabledBorder;
        }
        &:hover{
            .card__content:before{
                border-color: $disabledBorder;
            }
            .card__content{
                border-color: $disabledBorder;
            }
            .card__content__weight {
                background-color: $disabledBorder;
            }
        }
    }
    &:hover{
        .card__content:before{
            border-color: $defaultColorHover;
        }
        .card__content{
            border-color: $defaultColorHover;
        }
        .card__content__weight {
            background-color: $defaultColorHover;
        }
    }
    font-family:'Trebuchet MS', serif;
    padding-top: 15px;
    padding-bottom: 15px;
    &__content:before {
        border-right: 5px solid $defaultColor;
        width: 70px;
        height: 62px;
        content: '';
        position: absolute;
        transform: rotate(45deg);
        left: -43px;
        top: -38px;
        background: transparent;
        transition: all 0.3s ease 0s;
        z-index: 10;
      }
    
    &__content {
        clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
        position: relative;
        width: 320px;
        height:480px;
        background-color: #F2F2F2;
        border: 4px solid $defaultColor;
        border-radius: 15px;
        transition: all 0.3s ease 0s;
        
        &.disabled {
            border-color: $disabledBorder; 
            &:before {
                border-color: $disabledBorder; 
            }
            &:hover {
                cursor: default;
            }
            
        }
        &__disabled {
            border-radius: 15px;
            background-color: $disabledHover;
            position: absolute;
            width: 320px;
            height:480px;
        }
        &:hover {
            cursor: pointer;
        }
        &__text {
            margin-top: 17px;
            margin-left: 44px;
        
            &-company {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #666666;
                margin-bottom: 4px;
            }
            &-title {
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                color: #000000;
            }
            &-taste {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                margin-top: 3px;
                margin-bottom: 15px;
            }
            &-gift {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #666666;
            }
        }
        &__cat {
            position: absolute;
            top: 44%;
            z-index: -1;
            height: 56%;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            border-radius:10px;
            img {
                margin-left: -30px;
            }
        }
        &__weight {
            width: 80px;
            height: 80px;
            background-color: #2EA8E6;
            position: absolute;
            bottom: 16px;
            right: 16px;
            border-radius: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 0.3s ease 0s;
            &.disabled {
                background-color: $disabledBorder;
            }
            &-count {
                font-style: normal;
                font-weight: 400;
                font-size: 42px;
                line-height: 22px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 10px;
            }
            &-type {
                font-style: normal;
                font-weight: 400;
                font-size: 21px;
                line-height: 22px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 7px;
            }
        }
        
    }
    &__offer {
        padding-top: 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        b {
            color: $defaultColor;
            text-decoration: underline dashed $defaultColor; 
            &:hover {
                cursor: pointer;
            }
        }
        &.disabled {
            color: #FFFF66;
            b {
                color: #FFFF66;
                text-decoration: underline dashed #FFFF66; 
                &:hover {
                    cursor: default;
                }
            }
        }
    }
}